<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <div class='jumbotron'>
<h2>
    ENTER STUDENT DETIALS
</h2>
<form action="./student" method="get">
<div class="form-group row">
  <div class="row-xs-4">
    STUDENT ID:
      <input type="text" class="form-control" name='t1' size=30>
      STUDENT NAME:
      <input type="text" class="form-control" name='t2'>
      BRANCH:
      <input type="text" class="form-control" name='t3'>
      <h2>ENTER MARKS OF STUDENTS</h2>
      TELUGU:
      <input type="text" class="form-control" name='t4'>
      HINDI:
      <input type="text" class="form-control" name='t5'>
      ENGLISH:
      <input type="text" class="form-control" name='t6'>
      MATHES:
      <input type="text" class="form-control" name='t7'>
      SCIENCE:
      <input type="text" class="form-control" name='t8'>
      SOCIAL:
      <input type="text" class="form-control" name='t9'>

<button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
</div>
</div>

</body>

</html>
